<div class="card text-center">
  <div class="card-header bg-danger">
    Error
  </div>
  <div class="card-body">
    <h5 class="card-title">inducement</h5>
    <p class="card-text">{{message}}</p>
    <a href="/home/films?page=1" class="btn btn-primary">Go To A Home Page</a>
  </div>
</div>